*{
    padding: 0;
    margin: 0;
}
.d-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/*header*/
.headdiv{
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 22px 0
}
.ui-widget-header{
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 15px;
    line-height: 19px;
    background: black;
    color: white;
    border: none;
}
/*.ui-widget-content{*/
/*    background: #403E3B;*/
/*    color: white;*/
/*    border: none;*/
/*}*/
.ui-widget.ui-widget-content{
    border: none;
}
.headdiv nav ul {
    list-style: none; display: flex;
}
.headdiv nav ul li{
    margin-left: 32px;
}
.headdiv nav ul li a{
"font-family: 'Poppins';
font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #1B1A1A;
    text-decoration: none;
}

.headdiv nav ul li:nth-child(6) a {
    padding: 10px 20px;
    background: #1B1A1A;
    border-radius: 14px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.4px;
    color: #FFFFFF;
    text-decoration: none;
}
/*header*/

/*section_1*/
.sect_img {
    padding: 137px 0 128px;
    background-color: #ECE7E4;
    position: relative;
}
.img_first_div{
    max-width: 1240px;
    margin: auto;
}
.sect_img .img_first_div h3{
    margin-bottom: 20px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #645C55;
}
.sect_img .img_first_div h1{
    font-family: 'Poppins', sans-serif;
    margin-bottom: 18px;
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 70px;
    color: #1B1A1A;
}
.sect_img .img_first_div p{
    max-width: 509px;
    margin-bottom: 41px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #403E3B;
}
.sect_img .img_first_div a{
    font-family: 'Poppins', sans-serif;
    margin-left: 25px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;
    letter-spacing: 0.4px;
    color: #1B1A1A;
}
.img_second_div{
    position: absolute;
    right: 0;
    top: 0;
    width: 50%;
    height: 100%;
    background-image: url('../images/IMAGE.jpg');
    background-size: cover;
}
/*section_1*/
/*section_2*/

.Our_firm{
    background: #E5E5E5;
}
.Our_firm_first{
    max-width: 768px;
    margin: auto;
    padding: 100px 0;
    display: flex;
    justify-content: space-between;
}
.Our_firm_first h5{
    display: flex;
    justify-content: space-between;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
    color: #403E3B;
}
.Our_firm_first .Our_firm_second p{
    max-width: 493px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #403E3B;
}
.Our_firm_first .Our_firm_second p:nth-child(2){
    padding: 10px 0;
}
.Senior{
    padding-top: 18px;
    display: flex;
    align-items: center;
}
.Senior h6{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 26px;
    color: #1B1A1A;
}
.Senior p{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: #645C55;
}
.Senior img{
    padding-right: 30px;

}

/*section_2*/

/*section_3*/

.sect_art{
    padding: 100px 0;
    text-align: center;
}
.art_first_div{
    max-width: 1168px; margin: auto;
}
.sect_art .art_first_div h3:nth-child(1) {
    margin: 13px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #645C55;
}
.sect_art .art_first_div h2{
    margin-bottom: 47px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 39px;
    line-height: 42px;
    text-align: center;
    color: #1B1A1A;
}
.art_second_div{
    display: flex;
    justify-content: space-between;
}
.art_second_div img{
    max-width: 117px;
    display: inline-block;
}
.sect_art .art_first_div .art_second_div article {
    max-width: 259px;
}
.sect_art .art_first_div .art_second_div article h3{
    margin: 15px 0 10px 0;
}
.sect_art .art_first_div .art_second_div article p{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
}
.sect_art .art_first_div .art_second_div article:nth-child(1) p{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 26px;
}
.sect_art .owl-carousel .owl-item img{
    display: inline-block;
}
.sect_art .owl-carousel .owl-item{
    display: flex;
    justify-content: center;
}
.sect_art .owl-carousel .owl-dots button.owl-dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: black;
}
.sect_art .owl-carousel .owl-dots button.owl-dot.active{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: green;
}
.owl-dots{
    display: flex;
    justify-content: space-evenly;
}
.owl-carousel .owl-item img{
    margin: auto; }
/*section_3*/
/*section_4*/
.reeding_house{
    min-height: 600px;
    background-image: url("../images/images23.jpg");
    background-size: cover;
    display: flex;
    justify-content: end;
    align-items: center;
    padding-right: 75px;
}
.description{
    max-width: 285px;
}
.reeding_house .description h5{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #403E3B;
}
.reeding_house .description p{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #645C55;
}
/*section_4*/
/*section_5*/

.clients{
    background: #403E3B;
}
.clients div .clients_second_div{
    padding: 65px 0;
}
.clients_first_div{
    margin: auto;
    padding: 60px;
    max-width: 1168px;
    display: flex;
    justify-content: space-between;
}
.clients .clients_first_div div:nth-child(1){
    max-width: 460px;
}
.clients .clients_first_div div:nth-child(2){
    max-width: 432px;
}
.clients .clients_first_div div  h2{
    padding-bottom: 14px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
    color: #FFFFFF;
}
.clients .clients_first_div div  h4{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #ECE7E4;
}
.clients .clients_first_div div p{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #ECE7E4;
}
.top{
    display: flex;
    justify-content: space-between;
}
.button{
    display: flex;
    justify-content: space-between;
}
.clients_first_div .clients_third_div{
    margin-right: 144px;
}
/*section_5*/
/*section_6*/
.reeding_house_second{
    min-height: 600px;
    background-image: url("../images/images24.jpg");
    background-size: cover;
    display: flex;
    justify-content: end;
    align-items: center;
    padding-right: 75px;
}
.description_second{
    max-width: 285px;
}
.reeding_house_second .description_second h5{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #403E3B;
}
.reeding_house_second .description_second p {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #645C55;
}
.clients_third_div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.clients_third_div a:nth-child(1){
    margin-right: 96px;
}
.clients_third_div a:nth-child(3){
    margin-right: 96px;
}

/*section_6*/
/*section_7*/
.team {
    background: #E5E5E5;
}
.team_first_div{
    max-width: 1168px;
    display: flex;
    justify-content: space-between;
    padding: 100px 0;
    margin: auto;
}
.team_second_div{
    max-width: 379px;
}
.team .team_first_div div h3{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
    color: #403E3B;
}
.team_lorem{
    padding: 14px 0 41px 0;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #645C55;
}
.team .team_first_div div a{
    padding-left: 25px;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.4px;
    color: #1B1A1A;

}

.team_art {
    display: flex;
    align-items: center;
}
.team_art h5 {
    padding-left: 30px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    color: #1B1A1A;

}
.team_art p {
    padding-left: 30px;

}
.team_art:nth-child(2){
    padding: 52px 136px 52px 0;
}


/*section_7*/

/*section_8*/
.reeding_house_third{
    min-height: 600px;
    background-image: url("../images/images25.jpg");
    background-size: cover;
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 60px;
}
.description_third{
    max-width: 285px;
}
.reeding_house_third .description_third h5{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #403E3B;
}
.reeding_house_third .description_third p {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #645C55;
}

/*section_8*/
/*section_9*/
.projects {
    padding: 113px 0 111px;
    background: #F7F7F7;
}
.container{
    max-width: 1168px;
    margin: auto;
}
.projects h3{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 39px;
    line-height: 42px;
    color: #1B1A1A;
    margin-bottom: 15px;
}
.projects p{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    color: #645C55;
    margin-bottom: 44px;
}
.projects article{
    max-width: 375px;
    position: relative;
    overflow: hidden;
}
.projects article:hover .describe{
    bottom: 0;

}
.projects article img{
    width: 100%;
}
.projects .describe{
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 40px;
    box-sizing: border-box;
    display: flex;
    align-content: space-between;
    flex-wrap: wrap;
    bottom: -100%;
    transition: 1s;

}
.projects .describe h4{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 30px;
    color: #403E3B;
    width: 100%;
}
.projects .describe h4 span{
    display: block;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #645C55;
}

.projects .describe a {
    background: #1B1A1A;
    border-radius: 14px;
    padding: 11px 20px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.4px;
    color: #FFFFFF;
    text-decoration: none;
}
.link{
    display: flex;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.4px;
    color: #1B1A1A;
    text-decoration: none;
    margin-top: 93px;

}
/*section_9*/
/*section_10*/
.sect_touch {
    background: #CEC4BC;
    border-radius: 0;
}
.touch_first_div {
    max-width: 1200px;
    margin: auto;
    padding: 100px 0;
}
.sect_touch .touch_first_div .touch_first_p  {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #645C55;

}
.sect_touch .touch_second_div {
    display: flex;
    justify-content: space-between;
}
.sect_touch .touch_second_div p{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 42px;
    color: #1B1A1A
}
.sect_touch .touch_second_div a{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.4px;
    color: #1B1A1A;
    text-decoration: none;
}

/*section_9*/

/*footer*/
footer {
    padding: 60px 0 60px 0;
    background: #F7F7F7;
    border-radius: 0;
}
footer .foot_first_div {
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
footer .foot_first_div div:nth-child(1) img{
    margin-bottom: 20px
}
footer .foot_first_div div:nth-child(2) ul {
    list-style: none; display: flex; padding-top: 30px;
}
footer .foot_first_div div:nth-child(2) ul li{
    margin-left: 32px
}
/*footer*/
